.textContainer {
  position: relative;
  cursor: pointer;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.textContainer p {
  font-size: 8vw;
  font-weight: 700;
  margin: 0px;
  transition: all 0.8s;
  color: black;
  line-height: 8vw;
}

.textContainer .secondary {
  transform: rotateX(-90deg) translateY(3.5vw);
  transform-origin: bottom center;
  position: absolute;
  top: 0;
  color: blue;
  opacity: 0;
}

.textContainer:hover {
  transform: rotateX(90deg);
}

.textContainer:hover .secondary {
  opacity: 1;
}

.textContainer:hover .primary {
  transform: translateY(-100%);
  opacity: 0;
}
